@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.site-font{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* root styles */
:root{
    --bg-1: #1A0B2E;
    --bg-2: #230E3D;
    --primary-green: #00FF88;
    --text-light: #ffffff;
    --gradient-c-yellow: #F7E93F;
    --gradient-c-pink: #FB09B4;
    --gradient-c-purple: #9100F8;
    --link-hover: #e8e8e8;
    --choice-card-bg: #351165;
    --slightly-gray-color: rgb(168, 158, 180);
    --stroke-color: #533C72;
}
/* shared styles */
.btn{
    padding: 12px 16px;
    border: none;
    background: linear-gradient(45deg, var(--gradient-c-yellow) 0%, var(--gradient-c-pink) 51%, var(--gradient-c-purple) 100%);
    color: var(--text-light);
    border-radius: 99999px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover{
    background: linear-gradient(45deg, var(--gradient-c-purple) 0%, var(--gradient-c-pink) 51%, var(--gradient-c-yellow) 100%);
}
.link-hover:hover{
    color: var(--link-hover);
}
/* header nav styles */
header{
    background-color: var(--bg-1);
}

nav{
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 87%;
    margin: 0 auto;
    justify-content:space-between;
    padding: 24px 0;
}

nav ul{
    display: flex;
    gap: 2rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: var(--text-light);
    font-weight: 600;
    font-size: 1rem;
}


/* hero section styles */
#hero{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 1px solid #4a3763;
}
.hero-contents{
    text-align: center;
    padding: 100px 0;
}
.hero-icon{
    background: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    padding: 70px;
}
.hero-icon img{
    width: 120px;
}
.hero-icon .base{
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 1.12rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--bg-1);
    background-color: var(--primary-green);
    padding: 8px 16px;
    border: none;
    border-radius: 99999px;
    box-shadow: 0 3px 27px 0 #00ff8875;
}
.hero-info h1{
    font-size: 3.75rem;
    font-weight: 800;
    color: var(--text-light);
}
.hero-info p{
    font-size: 1rem;
    color: var(--slightly-gray-color);
    margin: 1.5rem auto;
}
.hero-buttons{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.hero-buttons a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-buttons button{
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    gap: 8px;
    align-items: center;
}
.hero-buttons .transparent-btn{
    padding: 12px 16px;
    border: 1px solid var(--primary-green);
    background: transparent;
    color: var(--text-light);
    border-radius: 99999px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}
.hero-buttons a > button > img{
    width: 20px;
}
.hero-buttons a > button > i{
    font-size: 1.25rem;
}
.hero-buttons .transparent-btn:hover{
    border: 1px solid var(--primary-green);
    background-color: var(--primary-green);
    color: var(--bg-1);
}

/* about section styles */
.about-section{
    background-color: var(--bg-1);
    padding: 50px 0 120px 0;
}
.about{
    max-width: 1200px;
    width: 87%;
    margin: 0 auto;
    text-align: center;
}
.about-info{
    color: var(--text-light);
}
.about-info h3{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.about hr{
    margin-top: 5rem;
    margin-bottom: 5rem;
    opacity: 10%;
}
.about-info p{
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: var(--slightly-gray-color);
}
.about-info .description{
    margin-bottom: 3rem;
}
.about-achievements{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.achievement-item{
    max-width: 15rem;
    width: 100%;
    text-align: center;
}
.achievement-item h2{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--primary-green);
}
.achievement-item p{
    color: var(--slightly-gray-color);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

/* chose reason section styles */
.choosereason-section{
    background: var(--bg-2);
    padding: 120px 0;
}
.chosereason-content{
    max-width: 1200px;
    width: 87%;
    margin: 0 auto;
}
.heading-cr h2{
    text-align: center;
    color: var(--text-light);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.cr-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1.87rem;
}
.tall-card{
    grid-column: span 1;
    grid-row: span 2;
}
.wide-card{
    grid-column: span 2;
    grid-row: span 1;
}
.normal-card{
    grid-column: span 1;
    grid-row: span 1;
}
/* have to remove this style, it's temporary for test */
.cr-card{
    background-color: rgb(42, 15, 77);
    color: var(--text-light);
    border: none;
    border-radius: 40px;
    padding: 40px 40px;
    place-content: center;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.cr-card h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.cr-card p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--slightly-gray-color);
}

/* features & host meet styles */
.feature-n-meet-section{
    background-color: var(--bg-1);
    padding: 120px 0;
}
.feature-episodes{
    max-width: 1200px;
    width: 87%;
    margin: 0 auto 7.5rem;
}
.feature-episodes h2{
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-light);
    text-align: center;
    margin-bottom: 2.5rem;
}
.feature-episodes .videos{
    display: flex;
    gap: 1.87rem;
}
.video{
    height: 280px;
    margin-bottom: 0;
}
.video-card{
    max-width: 380px;
    width: 100%;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 16px;
}
.video iframe{
    width: 100%;
    /* height: 280px; */
    height: 100%;
    border: none;
    border-radius: 16px 16px 0 0;
}
.video-info{
    margin-top: 0;
    background-color: rgb(42, 15, 77);
    border-radius: 0 0 16px 16px;
    padding: 24px;
    height: auto;
}

.video-info h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-light);
    margin-bottom: 0.75rem;
}

.video-info p{
    color: var(--slightly-gray-color);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.75rem;
    font-weight: 400;
}
.video-info h4{
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-light);
    display: flex;
    align-items: center;
    gap: 6px;
}

/* meet host related styles */
.meet-host{
    max-width: 1200px;
    width: 87%;
    margin: 0 auto;
    text-align: center;
}
.meet-host h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    color: var(--text-light);

}
.host-items{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    background-color: rgb(42, 15, 77);
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.host-img{
    max-width: 200px;
    width: 100%;
}
.host-info{
    text-align: left;
}
.host-info h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--text-light);
}
.host-info p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    color: var(--slightly-gray-color);
}
.social-links{
    display: flex;
    gap: 8px;
    align-items: center;
}

.social-links a{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid var(--stroke-color);
    padding: 10px;
    border-radius: 50%;
    transition: border 0.3s ease-in-out;
}
.social-links a:hover{
    border: 1px solid var(--slightly-gray-color);
}

/* footer styles */
footer{
    background: url(../assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 0;
}
.footer-content{
    max-width: 1200px;
    width: 87%;
    margin: 0 auto;
    text-align: center;
}
.footer-logo{
    margin-bottom: 32px;
}
.footer-social-links{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.footer-social-links a{
    font-size: 1rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--slightly-gray-color);
    transition: color 0.3s ease-in-out;
}
.footer-social-links a:hover{
    color: var(--text-light);
}
.footer-copy-right{
    font-size: 1rem;
    font-weight: 400;
    color: var(--slightly-gray-color);
}